.contact{
    background-color: var(--color-neutral_0);
    color: var(--color-primal_2);
    padding: 100px 5dvw;
    display: flex;
    gap: 5dvh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.customer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer__field{
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--color-primal_2);
}
.customer label{
    display: none;
}
.customer input[type=text], input[type=tel], input[type=email]{
    font-size: 0.8em;
    width: 100%;
    padding: 3.33dvw;
    border: 1px solid var(--color-primal_2);
}
.customer input[type=text]::placeholder, input[type=tel]::placeholder, input[type=email]::placeholder{
    font-size: 1em;
}
.inputs{
    width: 100%;
}

.local{
    width: 100%;
    display: flex;
    gap: 1em;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.map{
    width: 100%;
}

@media screen and (min-width: 450px) {
    .customer input[type=text], input[type=tel], input[type=email]{
        padding: 1rem;
    }
}

@media screen and (min-width: 1080px) { /*Media Query Telas grandes*/
    .contact{
        flex-flow: row nowrap;
    }
    .customer{
        width: 50%;
    }
    .local{
        width: 50%;
    }
}