.footer{
    background-color: var(--color-primal_2);
    color: var(--color-neutral_0);
    padding: 70px 5dvw;
    display: flex;
    gap: 5dvh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.footer .logo{
    top: 0;
}

.social{
    width: 100%;
    padding: 5dvh;
    border-top: 1px solid var(--color-neutral_0);
    border-bottom: 1px solid var(--color-neutral_0);
    display: flex;
    gap: 1rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social__medias{
    display: flex;
    font-size: 1.5rem;
    flex-flow: row nowrap;
    gap: 1em;
    cursor: pointer;
}
.social__medias a{
    color: var(--color-neutral_0);
}

.info{
    display: flex;
    gap: 1rem;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info__text{
    font-size: 0.8em;
}
.copy{
    font-size: 0.6em;
}