.home{
    background: url(../assets/wallpaper01.jpg) center center no-repeat;
    background-size: cover;
    color: var(--color-neutral_0);
    height: 100vh;
    padding: 5dvw;
    display: flex;
    flex-flow: column nowrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.roller{
    background-color: var(--color-primal_0);
    width: 100%;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.roller .second-text{
    max-width: 100%;
    font-family: var(--font-title);
    display: flex;
    gap: 1rem;
    animation: moveText 8s infinite linear;
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}