.services {
  background-color: var(--color-primal_0);
  color: var(--color-primal_2);
  padding: 100px 5dvw;
  display: flex;
  flex-flow: column nowrap;
  gap: 5dvh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services .second-text {
  color: var(--color-neutral_0);
}

.wrapper .fa-angle-right, .fa-angle-left{
  display: none;
}
.carousel {
  display: flex;
  flex-flow: column nowrap;
  gap: 8dvh;
}
.card {
  background: rgba(198, 198, 198, 0.34);
  backdrop-filter: blur(5px);
  box-shadow: 40px 50px 30px rgba(0, 0, 0, 0.28);
  color: var(--color-neutral_0);
  width: 71dvw;
  font-size: 3.6dvw;
  padding: 1em;
  border-radius: 8px;
  border-bottom: 3px outset rgba(255, 255, 255, 0.44);
  border-right: 2px outset rgba(255, 255, 255, 0.545);
  overflow: hidden;
}
.card__primary-text {
  color: var(--color-neutral_0);
  font-family: var(--font-title);
  font-size: 2.27em;
  text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.573);
  margin: 1rem;
}
.card__second-text {
  color: var(--color-neutral_0);
  text-align: start;
  margin: 1rem;
}
.card__offer {
  display: flex;
  flex-flow: column nowrap;
}
.card__offer strong {
  font-size: 2em;
}
.card__benefits-btn {
  background-color: transparent;
  color: var(--color-neutral_0);
  font-weight: bold;
  font-size: 1em;
  width: 88.81%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  border: none;
  cursor: pointer;
}
.card__benefits {
  color: var(--color-neutral_0);
  text-align: start;
  height: 0;
  overflow: hidden;
  margin: 1rem;
  transition: 0.4s ease-in-out;
}
.card__benefits .fa-circle-check{
  color: var(--color-whatsapp);
}
.card__benefits li {
  padding: 5px 0px;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.card__benefits__active {
  height: 259px;
}

@media screen and (min-width: 450px) { /*Cards começam a transbordar*/
  .card {
    width: 320px;
    font-size: 1rem;
  }
  .card__primary-text{
    font-size: 2.35rem;
  }
}

@media screen and (max-width: 1280px) and (min-width: 780px) { /*Media Query para tablets e Desktops*/
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .fa-angle-right, .fa-angle-left {
    background-color: var(--color-primal_2);
    color: var(--color-neutral_0);
    display: block;
    padding: 12px;
    font-size: 1.5em;
    border-radius: 100%;
    box-shadow: var(--shadow_1);
    cursor: pointer;
    position: absolute;
    z-index: 2;
  }
  .fa-angle-right {
    right: 0;
    transform: translateX(50%);
  }
  .fa-angle-left {
    left: 0;
    transform: translateX(-50%);
  }
  .carousel {
    max-width: calc(640px + 12dvw);
    width: 90dvw;
    padding: 0px 60px 70px 0px;
    display: grid;
    gap: 7dvw;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .card {
    scroll-snap-align: start;
  }
}

@media screen and (min-width: 1280px) { /*Media Query para telas grandes*/
  .carousel {
    flex-flow: row nowrap;
  }
  .card{
    transform: skewX(-10deg);
    transition: 0.4s;
  }
  .card:hover {
    transform: skew(0deg);
  }
}